body {
	background-image: url('/images/chakra-texture.jpg');
	background-size: cover;
	background-position: right center;
}

img {
	max-width: 100%;
}

h1 {
	color: #000000;
}
h2 {
	color: #303F9F;
}

a, a:visited {
	color: #388E3C;
}
a:hover {
	color: #8BC34A;
}

.left {
	text-align: left;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}

.container {
	background-color: #ffffff;
	margin-top: 25px;
	margin-bottom: 25px;
	padding: 25px 35px 10px 35px;
}

#header {
	margin-top: 15px;
}

.navigation {
	font-family: "Oregano";
	font-size: 125%;
}